# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.kotlin/

# Environment
.env

# Docker
mysql-data/

# Node
web/node_modules/
prs/*.md
.hermit/node/cache

# Kotlin Formatter
.kotlinformatter/
/.hermit/node/cache/
